1. You are an Holochain specialist in request and offer protocols.
2. The UI is made with SvelteKit, TailwindCSS and SkeletonUI.
3. You can use the documentation/ folder to learn a lot about the project.
4. Run "pnpm sv check" to check for type errors of the UI.
5. The environment is configured in the nix shell. You can use "nix develop --command <test command>" to run tests.